<h2>@ViewBag.Title</h2>
<small><a href="@Url.Action("AddCategory")">Add new</a></small>
@section scripts
{
    <script>
        window.view = 'Index';
    </script>
    <script src="~/Areas/Admin/Scripts/category.js" type="text/javascript"></script>
}

<div class="well well-lg">
    <div class="col-md-12">
        <div class="form-group">
            <input type="text" placeholder="Type to filter categories..." class="form-control" data-bind="textInput : filter" />
        </div>
    </div>
    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th class="sortable" data-bind="click : sort.bind($data, 'id', sortParams())">
                Id
                <i data-bind="visible : (sortParams().sort() == 'id' && !sortParams().asc())" class="glyphicon glyphicon-arrow-down text-primary"></i>
                <i data-bind="visible : sortParams().sort() == 'id' && sortParams().asc()"    class="glyphicon glyphicon-arrow-up text-primary"></i>
            </th>
            <th class="sortable" data-bind="click : sort.bind($data, 'name', sortParams())">
                Name 
                <i data-bind="visible : (sortParams().sort() == 'name' && !sortParams().asc())" class="glyphicon glyphicon-arrow-down text-primary"></i>
                <i data-bind="visible : sortParams().sort() == 'name' && sortParams().asc()"    class="glyphicon glyphicon-arrow-up text-primary"></i>
            </th>
            <th class="sortable" data-bind="click : sort.bind($data, 'parent', sortParams())">
                Parent Category 
                <i data-bind="visible : (sortParams().sort() == 'parent' && !sortParams().asc())" class="glyphicon glyphicon-arrow-down text-primary"></i>
                <i data-bind="visible : sortParams().sort() == 'parent' && sortParams().asc()"    class="glyphicon glyphicon-arrow-up text-primary"></i>
            </th>
        </tr>
        </thead>
        <tbody data-bind="foreach : categories">
        <tr>
            <td><a data-bind="attr : { href : '@Url.Action("AddCategory")/' + Id, title : 'Edit ' + Name }, text : Id"></a></td>
            <td data-bind="text : Name"></td>
            <td data-bind="text : ParentCategory"></td>
            <td>
                <button class="btn btn-group-sm btn-danger" data-bind="click : remove">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </td>
        </tr>
        </tbody>
        <tbody data-bind="if : categories().length == 0">
        <tr>
            <td class="text-center" colspan="3">No data found !</td>
        </tr>
        </tbody>
    </table>
</div>




@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>

