@model KnockoutJSSample.Areas.Shop.Controllers.CheckoutModel
@section component
{
    <script src="~/Areas/Shop/Scripts/ko/checkouts.page.js"></script>
    <script src="https://js.braintreegateway.com/web/dropin/1.11.0/js/dropin.min.js"></script>
    <script>
        var client_token = "@ViewBag.ClientToken";
        var form = document.querySelector('#payment-form');

        braintree.dropin.create({
            authorization: client_token,
            container: '#bt-dropin',
            paypal: {
                flow: 'vault'
            }
        }, function (createErr, instance) {
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                instance.requestPaymentMethod(function (err, payload) {
                    if (err) {
                        console.log('Error', err);
                        return;
                    }

                    // Add the nonce to the form and submit
                    document.querySelector('#nonce').value = payload.nonce;
                    form.submit();
                });
            });
        });
    </script>
    <script src="/App_Themes/javascript/demo.js"></script>
}
<div class="wrapper" id="checkouts-page">
    <div class="checkout container">
        <br />
        <header>
            <h1>Hi, <br>Let's make a transaction</h1>
        </header>
        @using (Html.BeginForm("Create", "Checkouts", new { area = "Shop" }, FormMethod.Post, new { @id = "payment-form" }))
        {
            <section>
                <label for="amount">
                    <span class="input-label">Amount</span>
                    <div class="input-wrapper amount-wrapper">
                        <input type="number" min="1" readonly="readonly" class="input" data-bind="value : subTotal"/>
                        <input type="hidden" name="amount" id="amount" data-bind="value : subTotal"/>
                    </div>
                </label>

                <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                </div>
            </section>

            <input id="nonce" name="PaymentMethodNonce" type="hidden" />
            <button class="button primary-btn" type="submit"><span>Make Transaction</span></button>

        }

    </div>
</div>
